version: '3.8'
services:
  redis:
    image: redis:latest
    container_name: redis-server-secure
    restart: always
    ports:
      - "6380:6380"
    environment:
      - REDIS_USER=${REDIS_USER}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: >
      bash -c "redis-server --port 6380 --user ${REDIS_USER} on >${REDIS_PASSWORD} ~* +@all"
    networks:
      - shared-net

networks:
  shared-net:
    external: true